.form_radio_btn {
  display: inline-block;
  margin-right: 10px;
  color: #006599;
}
.form_radio_btn input[type="radio"] {
  display: none;
}
.form_radio_btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 6px;
  user-select: none;
}
.form_radio_btn input[type="radio"]:checked + label {
  background: #999;
}
.form_radio_btn label:hover {
  color: #666;
}
.form_radio_btn input[type="radio"]:disabled + label {
  background: #efefef;
  color: #666;
}
img {
  width: 100%;
  z-index: -1;
  margin: auto;
  transform: scale(1);
  transition: all ease-in-out 0.5s;
}
.button_sub {
  color: #006599;
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  line-height: 50px;
  border: 1px solid #999;
  border-radius: 6px;
  user-select: none;
  font-size: 50px;
  font-weight: 700;
}

.FILL h1{
    color: #006599;
}